/* navigation area */

nav {
	display: flex;
	flex-direction: row;
	font-size: 13px;
}

.navbar a {
	padding: 5px;
	text-decoration: none;
}
nav ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin: 0 -10px;
	flex-wrap: nowrap;
}
nav li {
	display: flex;
	flex-direction: row;
	margin: 0 10px;
	padding: 0;
}

.push-right {
	display: flex;
	justify-content: right;
	margin-left: auto;
	margin-right: 5%;
}
.sign-in {
	background-color: blue;
	color: white;
	border: 0;
	padding: 5px;
}

/* main content */
body {
	font-family: arial,sans-serif;
	font-size: small;
}
.search-content {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding-top: 200px;
	padding-bottom: 20px;
}
#search {
	border-radius: 20px;
	height: 30px;
	width: 50%;
	justify-content: center;
	border-color: #f2f2f2;
	box-shadow: none;
}
#google {
	justify-content: center;
}
.buttons {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-left: 35%;
	margin-right: 35%;
}
.buttons button {
	border: 0;
	padding: 10px;
}
/* Footer Styling */
footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: fixed; 
    padding: 10px 10px 0px 10px; 
    bottom: 0; 
    width: 100%; 
    /* Height of the footer*/  
    height: 40px; 
	background: #f2f2f2; 
	font-size: 14px;

}
footer ul{
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin: 0 -10px;
	flex-wrap: nowrap;
}

footer li {
	display: flex;
	flex-direction: row;
	margin: 0 10px;
	padding: 0;
}
